<link rel="next" href="{{ paginator.next_page_path | absolute_url }}">
<div class="posts-list">
  {% for post in paginator.posts %}
  <article>
    <link rel="prefetch" href="{{post.url | absolute_url}}">
    <a href="{{post.url  | absolute_url}}">
      <h2>{{ post.title }}</h2>
      <div class="post-date">{{ post.date | date_to_long_string }}</div>
      {% if (post.tags.first) %}
        <span class="tag">{{ post.tags.first }}</span>
      {% endif %}
      {{ post.excerpt | replace: '<a', '<div' | replace: '</a>', '</div>' | truncate: 800 }}
    </a>
  </article>
  {% endfor %}
</div>
