<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<article>
  <a href="{{ site.baseurl }}{{ post.url }}">
    {{ post.excerpt }}
  </a>
</article>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.previous_page %}
    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
